<div class="container">
  <div class="title">
    <h2>DEMO CRUD ANGULAR</h2>
  </div>
  <app-table [data]="listData" [config]="tableConfig" />

  <div class="toolbar">
    <div class="tool-btn">
      <button (click)="handleOpenForm(modeType.ADD, formData)">Thêm dữ liệu</button>
    </div>
    <div class="form" *ngIf="isActiveForm">
      <form>
        <label>Tên:</label>
        <input name="name" type="text" [(ngModel)]="formData.name"/>
        <label>Tuổi:</label>
        <input name="age" type="number" [(ngModel)]="formData.age"/>
      </form>
      <button (click)="handleSubmit()" type="button">{{textSubmit}}</button>
      <button (click)="handleCloseForm()">Đóng</button>
    </div>
  </div>
  <hr/>
  <div class="content">
    <table>
      <thead>
      <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Age</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of listData; index as i">
        <td>{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <button (click)="handleOpenForm(modeType.UPDATE, item)">Sửa</button>
        <button (click)="handleDelete(item.id)">Xoá</button>
      </tr>
      </tbody>
    </table>
  </div>
</div>
